<div class="dimen">

    <b style="position: absolute; left: 130px; font-size: 25px; color: rgb(185, 22, 22);">WELCOME!!</b>
    <b style="position: absolute; left: 160px; font-size: 25px;top: 30px; color: rgb(30, 30, 136);">SignUp</b>

    <hr class="line">
    
  <br><br>
  
  <div class="details">

    <br>
        <label for="fname" >Full Name</label>
    <br>
        <input type="text" name="midname" id="t2">
    <br>
    <br>
        <label for="email" >Email Address</label>
    <br>
        <input type="email" name="email" id="email">
    <br>
    <br>
        <label for="pwd" >Password</label>
    <br>
        <input type="password" name="pwd" id="pwd">
    <br>
    <input type="submit" value="Register" class="register" routerLink="/login">
    
  </div>

  <div class="gmail">
    <b style="font-size: 20px; margin-left: 30px;">OR</b>

    <a href="#" class="fb btn">
         Login with Facebook
      </a>
      
      <a href="#" class="google btn">
         Login with Google+
      </a>
    
  </div>

  <div class="already">
    Already have account? Go to 
    <a href="login.html" >
      Login
   </a>
  </div>
  
  </div>   
    