
      <body class="bckgnd">
      
        <br><br><br><br>   
   
         <div class="content">
         
         <form [formGroup]="nForm" (ngSubmit)="Copy(nForm.value)">
           
           
           <fieldset style="width: 350px" class="fontCredentials" >
             <legend class = "fontLogin">Sign In  </legend>
             <br><br>
                <mat-form-field >
                 <input  matInput   placeholder="Email" formControlName = "name">
                </mat-form-field>
       
                <mat-form-field >
                 <input matInput placeholder="Password" type = 'password'  formControlName = "descriptor">
               </mat-form-field>
       
               <br><br>  
               <div style=" text-align: center">
               <button mat-raised-button color="primary" >SignIn</button>
                &nbsp;
                </div>

                <div *ngIf="fauth.user$ | async as user; else login">
                  <hr>
                  <button mat-raised-button color="primary" class="button" (click)="fauth.signOut()">Sign Out</button>
                  </div>
                  
                  <!-- User NOT logged in -->
                  <ng-template #login>
                  <button mat-raised-button color="primary"  class="button" (click)="fauth.googleSignIn()">Sign Up with Google</button>
                  </ng-template>
                  
                  

           </fieldset>
          
         </form>
       
       
           </div> 
       