<!-- Toolbar -->

    
    <div class="content" role="main">
    
      <!-- Highlight Card -->
      <div >
    
          <img src="../../assets/webinars bpf.png" height ="70" width="70" left="100px"  position="relative"/>
      </div>
    
      <!-- Resources -->
      <h2>Competitions</h2>
      <p>Here are some to help you get started:</p>
    
      <div class="card-container">
    
          <div class="vertical">
            <a class="card" target="_blank" rel="noopener" routerLink="/WebinarVideo">         
          <img src="../assets/webinar-background-flat-design_23-2147763316.jpg" height ="173" width="262" />
          </a>
         <span align="center">Website using Angular</span>
        </div>
    
        <div class="vertical">
          <a class="card" target="_blank" rel="noopener"routerLink="/WebinarVideo">         
        <img src="../assets/webinar-background-flat-design_23-2147763316.jpg" height ="173" width="262" />
        </a>
       <span align="center">Dancing</span>
      </div>
    
      <div class="vertical">
        <a class="card" target="_blank" rel="noopener" routerLink="/WebinarVideo">         
      <img src="../assets/webinar-background-flat-design_23-2147763316.jpg" height ="173" width="262" />
      </a>
     <span align="center">Marathon</span>
    </div>
        
      </div>
    
      <h2>Upcoming Competitions:</h2>
    
      <div class="card-container">
      
        <div class="vertical">
          <a class="card" target="_blank" rel="noopener" routerLink="/WebinarVideo">         
        <img src="../assets/webinar-background-flat-design_23-2147763316.jpg" height ="173" width="262" />
        </a>
       <span align="center">Angular Hackathon</span>
      </div>
    
      <div class="vertical">
        <a class="card" target="_blank" rel="noopener" routerLink="/WebinarVideo">         
      <img src="../assets/webinar-background-flat-design_23-2147763316.jpg" height ="173" width="262" />
      </a>
     <span align="center">Journalism</span>
    </div>
    
    <div class="vertical">
      <a class="card" target="_blank" rel="noopener" routerLink="/WebinarVideo">         
    <img src="../assets/webinar-background-flat-design_23-2147763316.jpg" height ="173" width="262" />
    </a>
    <span align="center">Sketching</span>
    </div>
      
    
      </div>
    
      <h2>Previous   Competitons:</h2>
    
      <div class="card-container">
        <div class="vertical">
          <a class="card" target="_blank" rel="noopener" routerLink="/WebinarVideo">         
        <img src="../assets/webinar-background-flat-design_23-2147763316.jpg" height ="173" width="262" />
        </a>
       <span align="center">Competitive Questions</span>
      </div>
    
      <div class="vertical">
        <a class="card" target="_blank" rel="noopener" routerLink="/WebinarVideo">         
      <img src="../assets/webinar-background-flat-design_23-2147763316.jpg" height ="173" width="262" />
      </a>
     <span align="center">Hackathon COVID-19r</span>
    </div>
    
    <div class="vertical">
      <a class="card" target="_blank" rel="noopener" routerLink="/WebinarVideo">         
    <img src="../assets/webinar-background-flat-design_23-2147763316.jpg" height ="173" width="262" />
    </a>
    <span align="center">Describe  2020</span>
    </div>
      
    
      </div>
    

     
    
    </div>
    