  <div class="content" role="main">
  
    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
        <h1>Manage my network</h1>
    </div>
  
    <!-- Resources -->
    <div class="card card-small">
      <h2>Invitations</h2>
    </div>
    
    <p>Here are people who want to connect you!</p>
  
    <div class="card-container">
      <a class="card" target="_blank" rel="noopener" routerLink="Networking">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <i style='font-size:24px' class='far'>&#xf2b5;</i>
        <span>&nbsp;&nbsp;Michael John</span>
  
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>
  
      <a class="card" target="_blank" rel="noopener" routerLink="Networking">
        
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <i style='font-size:24px' class='far' viewBox="0 0 24 24">&#xf2b5;</i>
        <span>&nbsp;&nbsp;Snehal Patil</span>
  
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
  
      <a class="card" target="_blank" rel="noopener" routerLink="Networking">
        
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <i style='font-size:24px' class='far'>&#xf2b5;</i>
        <span>&nbsp;&nbsp;John Perry</span>
  
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
  
    </div>
  <br>
    <p>
      More Requests
      <button mat-raised-button color="primary"
          matBadge="8" matBadgePosition="before" matBadgeColor="accent">
        See All
      </button>
    </p>
    <br>
    


    <h2>Groups you may follow </h2>
    <p></p>
  
    <input type="hidden" #selection>
  
    <div class="card-container">
      <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
  
        <span>Aundh Cricket team</span>
      </div>
  
      <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
  
        <span>Pune musicians</span>
      </div>
  
      <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
  
        <span>Cummins katta</span>
      </div>
  
      <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
  
        <span>Mad over PUBG</span>
      </div>
  
      <div class="card card-small" (click)="selection.value = 'test'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
  
        <span>Travelling vlog</span>
      </div>
  
      
    </div>
  
    <br>
    <p>
      More
      <button mat-raised-button color="primary"
          matBadge="10" matBadgePosition="before" matBadgeColor="accent">
        See All
      </button>
    </p>
    <br>
  
  
  
    <h2>Recommended Webinar for you</h2>
    <p></p>
  
    <input type="hidden" #selection>
  
    <div class="card-container">
      <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
  
        <span>Acrylic Workshop</span>
      </div>
  
      <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
  
        <span>Yoga for Life</span>
      </div>
  
      <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
  
        <span>Dance your heart out</span>
        <br>
        <br>
      </div>
     
      </div>
      <br>
        <p>
      More
      <button mat-raised-button color="primary"
          matBadge="8" matBadgePosition="before" matBadgeColor="accent">
        See All
      </button>
    </p>
    <br>
  
  
    
  
  <router-outlet></router-outlet>