<div class="parent" >
  <mat-card style="padding: 2%;">
    
      <form [formGroup]="this.allService.form1" >
        <h1 style="text-align:center">
          Host your competition!
        </h1>
        <h2 class="host-header">Competition-Details</h2>
        <mat-label>COMPETITION NAME :</mat-label>
        <input type="text" placeholder="Name" formControlName="competition_name">
        <br><br>

        <mat-label>DATE :</mat-label>
        <input type="date" placeholder="Date" formControlName="competition_date">
        <br><br>

        <mat-label>TIME :</mat-label>
        <input type="time" placeholder="Time" formControlName="competition_time">
        <br><br>

        <mat-label>DESCRIPTION :</mat-label>
        <textarea placeholder="Description" formControlName="competition_description"></textarea>
        <br><br>

        <mat-label>SKILLS :</mat-label>
        <input type="text" placeholder="Skills" formControlName="skills">
        <br><br>

        <button 
        class="waves-effect waves-light btn col s12" 
        (click)="onSubmit()" style="margin-left: 35%;">
        Submit
        </button>
        
      </form>
  </mat-card>
</div>  
  