<h1 style="text-align:center">
    Host your competition!
  </h1>
  <div class="host">
    <h2 class="host-header">Competition-Details</h2>
    
  
    <label>COMPETITION NAME :</label>
  
     
        <input type="competition-name" placeholder="Name" formControlName="competition-name">
      
      
  <label>DATE :</label>
  
     
        <input type="date" placeholder="Date" formControlName="competition-date">
      
  
      <br>
      
      <label>TIME :</label>
      
        <input type="time" placeholder="Time" formControlName="competition-time">
      
  
      
      <br>
      
   <label>DESCRIPTION :</label>  <br><br>
  
      <textarea placeholder="Description" formControlName="competition-description"></textarea><br><br>
      
  <label>SKILLS :</label>
      <br><br>
      <input type="text" placeholder="Skills" formControlName="skills">
  
  
  
  
      <p>
      
        <input type="submit" value="Host">
      </p>
     
  
  </div>