
<div class="parent" >
<mat-card style="padding: 2%">
  
    <form [formGroup]="this.allService.form" >
      <input placeholder="Enter your name" 
             formControlName="name" 
             type="text" 
             style="width: 100%;"
             >
             <br><br>
      <input placeholder="Enter your email id" 
             formControlName="email" 
             type="email" 
            style="width: 100%;">
             <br><br>
      <input placeholder="Enter your mobile number" 
             formControlName="mobile" 
             type="number" 
             style="width: 100%;"
      >
      <br><br>
      <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select name="gender" formControlName="gender" >
            <mat-option *ngFor="let user of gender" [value]="user.value" >
              {{user.type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
        <br>
        <mat-form-field>
          <mat-label>Occupation</mat-label>
          <mat-select name="occupation" formControlName="occupation" >
            <mat-option *ngFor="let user of occupation" [value]="user.value" >
              {{user.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
        <br>
        <input placeholder="Enter your Institution name" 
             formControlName="institution" 
             type="text" 
             style="width: 100%;"
      >
      <br>
    
        <mat-form-field>
          <mat-label>I'm looking for</mat-label>
          <mat-select name="looking" formControlName="looking" >
            <mat-option *ngFor="let user of look" [value]="user.value" >
              {{user.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
        <br>
        <mat-label>Hobbies</mat-label>
        <br>
        <mat-checkbox  formControlName="hobbies">Stand Up</mat-checkbox>
        <br>
          <input type="checkbox" value='Dance' name="Dance" placeholder="Dance" formControlName="hobbies"><br>
          <mat-checkbox >Dance</mat-checkbox>
          <br>
          <mat-checkbox value='Memes' formControlName="hobbies">Memes</mat-checkbox>
          <br>
          <mat-checkbox value='Sports' formControlName="hobbies">Sports</mat-checkbox>
          <br>
          <mat-checkbox value='Writing' formControlName="hobbies">Writing</mat-checkbox>
          <br>
          <mat-checkbox value='Acting' formControlName="hobbies">Acting</mat-checkbox>
          <br>
          <mat-checkbox value='Photography' formControlName="hobbies">Photography</mat-checkbox>
          <br>
          <mat-checkbox value='Fashion' formControlName="hobbies">Fashion</mat-checkbox>
          <br>
          <mat-checkbox aria-valuetext='Collections' formControlName="hobbies">Collections</mat-checkbox>
          <br>
          <mat-checkbox aria-valuetext="Hair and Makeup" formControlName="hobbies">Hair and MakeUp</mat-checkbox>
          <br>
       
          <br>
       
    <button 
    class="waves-effect waves-light btn col s12" 
    (click)="onSubmit()" style="margin-left: 35%;" onclick="showMessage()">
    Submit
    </button>
    </form>
  
</mat-card>
</div>