
      <body class="bckgnd">
      
        <br><br><br><br>   
   
         <div class="content">
         
         <form [formGroup]="nForm" (ngSubmit)="Copy(nForm.value)">
           
           
           <fieldset style="width: 350px" class="fontCredentials" >
             <legend class = "fontLogin">Login  </legend>
             <br><br>
             <mat-form-field >
                 <input  matInput   placeholder="Email" formControlName = "name">
               </mat-form-field>
       
               <br>
       
               <mat-form-field >
                 <input matInput placeholder="Password" type = 'password'  formControlName = "descriptor">
               </mat-form-field>
       
               <br><br>  
               <div style=" text-align: center">
               <button mat-raised-button color="primary" >Submit</button>
               
                </div>
           </fieldset>
          
         </form>
       
       
           </div> 
       