<div class="content" role="main">
  
  <!-- Resources -->

<h2>Categories</h2>
  <p>Please choose the topic that interests you!</p>



  <div class="card-container">
    
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Dance</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Standup</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Memes</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Mimicry</span>
    </a>
    
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Sports</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Writing</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Collections</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Fashion</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Acting</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Photography</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Modelling</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Architecture</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Interior Designing</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Video Editing</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Hair & MakeUp</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Cooking</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Baking</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Fitness</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Nutrition</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Books</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Meditation</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Social Media Influencers</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Gaming</span>
    </a>

  </div>

  
  
  
</div>   
